# Node.js
node_modules/

# Next.js
/.next/

# Prisma
/prisma/.env
/prisma/schema.prisma

# Environment variables
.env

# Build artifacts
/.vercel/
/out/

# IDE (if using Visual Studio Code)
.vscode/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
pnp-search/
.pnp
yarn-error.log

# Editor directories
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
